*{
    font-family: 'Raleway', sans-serif;
}

body{
    margin:0;
    top:0;
    background: #ecf0f1;
}

.conatiner{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-box{
    background: #fff;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    -webkit-box-shadow: -1px 4px 38px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 38px -20px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 38px -20px rgba(0,0,0,0.75);
    border-image: 
    linear-gradient(
      to bottom, 
      rgba(9,121,9,1), 
      rgba(46,204,113,1) 
    ) 1 100%;
    border-left: solid 5px;
    padding: 20px;
}

.logo{
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo h1{
    background: -webkit-linear-gradient(rgba(9,121,9,1), rgba(46,204,113,1));
    -webkit-text-fill-color: transparent;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    justify-content: center;
    box-sizing: border-box;
}

.input{
    margin-bottom: 25px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border-bottom: solid 1px rgba(9,121,9,1);
    display: flex;
    align-items: center;
}

.input-icon{
    width: 20%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.input-box{
    width: 80%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
.material-icons{
    background: -webkit-linear-gradient(rgba(9,121,9,1), rgba(46,204,113,1));
    -webkit-text-fill-color: transparent;
}

.btnSubmit{
    padding: 10px;
    width: 100%;
    color: #fff;
    background: rgba(9,121,9,1);
    border: none;
    transition: opacity 0.5s;
    outline: 0;
}

.btnSubmit:hover{
    cursor: pointer;
    opacity: 0.7;
}

.showAlert{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    border-radius: 5px;
    color: #fff;
    box-sizing: border-box;
    background-color: #e74c3c;
    display: flex;
    padding: 10px;
}

.showAlert h1{
    font-size: 15px;
    margin: 0;
    font-weight: normal;
}

.box-tasks{
    background: #fff;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    -webkit-box-shadow: -1px 4px 38px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 38px -20px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 38px -20px rgba(0,0,0,0.75);
    padding: 15px;
}

.task-title{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #2ecc71;
}

.sp{
    display: flex;
    align-items: center;
}

.newTF{
    color: #2ecc71;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #2ecc71;
    cursor: pointer;
}

.task{
    margin-top: 5px;
    display: flex;
    width: 100%;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
    background: #f9f9f9;
}

.pendente{
    border-right: solid 4px #e74c3c;
}

.realizada{
    border-right: solid 4px #2ecc71;
}

.task h1{
    font-size: 15px;
    font-weight: normal;
}

.task select{
    font-size: 15px;
    font-weight: normal;
    border: none;
    outline: 0;
    background: rgba(0,0,0,0.0);
}

.rTF{
    color: #2ecc71;
    border-bottom: solid 1px #2ecc71;
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    transition: opacity 0.5s;
}

a:link{
    outline: 0;
    text-decoration: none;
}

.rTF:hover{
    opacity: 0.4;
}

.dTF{
    color: #e74c3c;
    border-bottom: solid 1px #e74c3c;
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    transition: opacity 0.5s;
}

.dTF:hover{
    opacity: 0.4;
}

.logout{
    margin-left: 30px;
    cursor: pointer;   
    transition: opacity 0.5s;
}

.logout:hover{
    opacity: 0.4;
}

.new-box{
    background: #fff;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    -webkit-box-shadow: -1px 4px 38px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 38px -20px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 38px -20px rgba(0,0,0,0.75);
    padding: 20px;
}

.new-input{
    width: 100%;
    font-size: 18px;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    border: none;
    border-bottom: solid 1px rgba(9,121,9,1);
    color: rgba(9,121,9,1);
    border-radius: 2px;
}

.new-btn{
    margin-top: 10px;
    background: rgba(9,121,9,1);
    color: #fff;
    border: none;
    cursor: pointer;
    outline: 0;
    transition: opacity 0.5s;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
}


.new-btn:hover{
    opacity: 0.5;
}